{% extends 'main.html'%}
<!-- <a href="room/"><h2>room</h2></a> -->

<!-- {% include 'navbar.html' %} -->

{% block content %}
<h1>Home Page</h1>

<div>
  <div>
    {% for room in rooms %}
    <div
      style="display: flex; gap: 20px; align-items: center; margin-bottom: 40px"
    >
      <!-- """ view name base url """ -->
      <a href="{% url 'room' room.id %}"
        ><h1>{{room.id}} - {{room.name}}</h1></a
      >
      <span>@ {{room.host.username}}</span>
      <small>{{room.topic.name}}</small>
    </div>
    <hr />
    {% endfor%}
  </div>
</div>

{% endblock content%}
